<md-grid-list class="simple-numpad" cols="3" rowHeight="45px">
    <md-grid-tile class='numpad-display' colspan="3" rowspan="3">
        <div class='numpad-display-content'>
            <div class='numpad-display-header'>{{ numPadLocalState.displayHeader }}</div>
            <br>
            <div class="numpad-display-text">{{ numPadLocalState.displayText }}</div>
            <br>
            <div class="numpad-meta">
                <div class="numpad-period">{{ numPadLocalState.period.unit }} {{ numPadLocalState.period.index }}</div>
                <div class="numpad-goal">{{ numPadLocalState.done }}/{{ numPadLocalState.goal }}</div>
            </div>
        </div>
    </md-grid-tile>
    
    <md-grid-tile class='numpad-keys' id='numpad-tile-7' colspan="1" rowspan="1" (click)="type('7')">
        7
    </md-grid-tile>
    <md-grid-tile class='numpad-keys' id='numpad-tile-8' colspan="1" rowspan="1" (click)="type('8')">
        8
    </md-grid-tile>
    <md-grid-tile class='numpad-keys' id='numpad-tile-9' colspan="1" rowspan="1" (click)="type('9')">
        9
    </md-grid-tile>
    
    <md-grid-tile class='numpad-keys' id='numpad-tile-4' colspan="1" rowspan="1" (click)="type('4')">
        4
    </md-grid-tile>
    <md-grid-tile class='numpad-keys' id='numpad-tile-5' colspan="1" rowspan="1" (click)="type('5')">
        5
    </md-grid-tile>
    <md-grid-tile class='numpad-keys' id='numpad-tile-6' colspan="1" rowspan="1" (click)="type('6')">
        6
    </md-grid-tile>
    
    <md-grid-tile class='numpad-keys' id='numpad-tile-1' colspan="1" rowspan="1" (click)="type('1')">
        1
    </md-grid-tile>
    <md-grid-tile class='numpad-keys' id='numpad-tile-2' colspan="1" rowspan="1" (click)="type('2')">
        2
    </md-grid-tile>
    <md-grid-tile class='numpad-keys' id='numpad-tile-3' colspan="1" rowspan="1" (click)="type('3')">
        3
    </md-grid-tile>
    
    <md-grid-tile class='numpad-keys' id='numpad-tile-period' colspan="1" rowspan="1" (click)="type('.')">
        .
    </md-grid-tile>
    <md-grid-tile class='numpad-keys' id='numpad-tile-0' colspan="1" rowspan="1" (click)="type('0')">
        0
    </md-grid-tile>
    <md-grid-tile class='numpad-keys' id='numpad-tile-bs' colspan="1" rowspan="1" (click)="backspace()">
        <i class="material-icons">backspace</i>
    </md-grid-tile>
</md-grid-list>