<md-grid-list class="simple-numpad" cols="3" rowHeight="45px">
    <md-grid-tile class='numpad-display' colspan="3" rowspan="3">
        <div class='numpad-display-content'>
            <div class='numpad-display-header'>{{ numPadLocalState.displayHeader }}</div>
            <br>
            <div class="numpad-display-text">{{ numPadLocalState.displayText }}</div>
            <br>
            <div class="numpad-meta">
                <div class="numpad-period">{{ numPadLocalState.period.unit }}: {{ numPadLocalState.period.index }}</div>
                <div class="numpad-goal">{{ numPadLocalState.done }}/{{ numPadLocalState.goal }}</div>
            </div>
        </div>
    </md-grid-tile>
    
    <md-grid-tile id='numpad-tile-7' colspan="1" rowspan="1">
        <button id="numpad-button-7" md-button (click)="type('7')">7</button>
    </md-grid-tile>
    <md-grid-tile id='numpad-tile-8' colspan="1" rowspan="1">
        <button id="numpad-button-8" md-button (click)="type('8')">8</button>
    </md-grid-tile>
    <md-grid-tile id='numpad-tile-9' colspan="1" rowspan="1">
        <button id="numpad-button-9" md-button (click)="type('9')">9</button>
    </md-grid-tile>
    
    <md-grid-tile id='numpad-tile-4' colspan="1" rowspan="1">
        <button id="numpad-button-4" md-button (click)="type('4')">4</button>
    </md-grid-tile>
    <md-grid-tile id='numpad-tile-5' colspan="1" rowspan="1">
        <button id="numpad-button-5" md-button (click)="type('5')">5</button>
    </md-grid-tile>
    <md-grid-tile id='numpad-tile-6' colspan="1" rowspan="1">
        <button id="numpad-button-6" md-button (click)="type('6')">6</button>
    </md-grid-tile>
    
    <md-grid-tile id='numpad-tile-1' colspan="1" rowspan="1">
        <button id="numpad-button-1" md-button (click)="type('1')">1</button>
    </md-grid-tile>
    <md-grid-tile id='numpad-tile-2' colspan="1" rowspan="1">
        <button id="numpad-button-2" md-button (click)="type('2')">2</button>
    </md-grid-tile>
    <md-grid-tile id='numpad-tile-3' colspan="1" rowspan="1">
        <button id="numpad-button-3" md-button (click)="type('3')">3</button>
    </md-grid-tile>
    
    <md-grid-tile id='numpad-tile-period' colspan="1" rowspan="1">
        <button id="numpad-button-period" md-button (click)="type('.')">.</button>
    </md-grid-tile>
    <md-grid-tile id='numpad-tile-0' colspan="1" rowspan="1">
        <button id="numpad-button-0" md-button (click)="type('0')">0</button>
    </md-grid-tile>
    <md-grid-tile id='numpad-tile-bs' colspan="1" rowspan="1">
        <button id="numpad-button-bs" md-button (click)="backspace()">backspace</button>
    </md-grid-tile>
</md-grid-list>